splash-main-container {
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
}

.navbar-wrapper {
  display: none;
}

.splash-top-bar {
  background: #fff;
  width: 100%;
  height: 60px;
  position: relative;
}

.splash-top-bar ul {
  list-style-type: none;
  padding: 0;
  width: 240px;
  height: 60px;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

.splash-top-bar li {
  display: inline-block;
  padding: 18px 20px;
  cursor: pointer;
}

.splash-top-bar li:hover {
  background: #f2f3f4;
  border-bottom: 2px solid red;
}

.splash-top-bar-title {
  color: black;
  font-size: 30px;
  font-weight: bold;
  width: 240px;
  height: 60px;
  position: absolute;
  left: 200px;
  top: 0;
  line-height: 60px;
}

.splash-banner {
  width: 100%;
  position: relative;
  background: black;
}

.splash-banner img {
  width: 100%;
  height: 600px;
}

.splash-banner div {
  position: absolute;
  left: 180px;
  bottom: 0;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  height: 250px;
}

.splash-banner h1 {
  font-size: 50px;
}

.splash-banner h2 {
  font-size: 25px;
  margin-bottom: 25px;
  text-align: left;
}

.splash-banner div a {
  background: #db4c3f;
  padding: 10px 20px;
  margin: auto;
}

.splash-intro {
  font-family: Helvetica, Arial, sans-serif;
  padding: 100px 0;
}

.splash-intro h1 {
  text-align: center;
  font-size: 26px;
  color: #666;
}

.splash-intro h2 {
  font-size: 18px;
  color: #828282;
}

.splash-icons-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.splash-icons-container img {
  width: 100px;
  height: 100px;
}

.ut-wrapper {
  background: #bf5700;
  border-radius: 100%;
}

.splash-rules {
  background: #f4f4f4;
}

.splash-rules h1 {
  font-size: 26px;
  color: #666;
}

.splash-rules h3 {
  font-size: 18px;
  color: #828282;
}

.splash-instructions-wrapper {
  display: inline-block;
  padding-top: 110px;
  width: 50%;
}

.splash-instructions-wrapper div {
  width: 370px;
  margin: auto;
}

.splash-instructions-wrapper h1 {
  text-align: center;
}

.splash-rules img {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.splash-quotes {
  padding: 80px 0 100px 0;
}

.splash-quotes div {
  width: 100%;
  text-align: center;
}

.splash-quotes img {
  display: block;
  margin: auto;
}

.splash-team {
  background: #f4f4f4;
  padding: 50px 0;
}

.splash-team h1 {
  text-align: center;
}

.splash-team-people {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.splash-team-person {
  padding-bottom: 40px;
}

.splash-team-person div {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
}

.splash-team-person img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.splash-team-person h5 {
  text-align: center;
  font-size: 24px;
}

@media only screen and (max-width:1280px) {
  .splash-instructions-wrapper {
    padding-top: 30px;
  }
}

@media only screen and (max-width:1150px) {
  .splash-top-bar-title {
    left: 150px;
  }

  .splash-banner img {
    opacity: 0.5;
  }

  .splash-banner div {
    bottom: 180px;
    left: 50%;
    margin-left: -133px;
  }
}

@media only screen and (max-width:765px) {
  .splash-top-bar-title {
    left: 100px;
  }

  .splash-instructions-wrapper {
    position: static;
    width: 100%;
    padding: 80px 0;
  }

  .splash-instructions-wrapper div {
    width: 90%;
    margin: auto;
    padding: 0;
  }

  .splash-instructions-wrapper h1 {
    text-align: center;
  }

  .splash-rules img {
    position: static;
    width: 100%;
  }

  .splash-quotes {
    padding: 40px 0 80px 0;
  }
}

@media only screen and (max-width:650px) {
  .splash-top-bar ul {
    display: none;
  }

  .splash-top-bar-title {
    display: none;
  }

  .navbar-wrapper {
    display: inline;
  }
}

@media only screen and (max-width:480px) {
  .splash-banner img {
    opacity: 0.5;
    height: 400px;
  }

  .splash-banner div {
    bottom: 50px;
  }

  .splash-icons-container {
    flex-wrap: wrap;
  }

  .splash-icons-container img {
    width: 50px;
    height: 50px;
  }

  .splash-quotes {
    padding: 20px 0 80px 0;
  }
}

@media only screen and (max-width:420px) {
  .splash-team-people {
    padding-left: 20px;
    padding-right: 20px;
  }
}
