
@import url('./leaflet.css');
@import url('./splashPage.css');
@import url('./leaderboard.css');
@import url('./challenges.css');

/* Media queries in splash section and bottom of the page */

/* --------------------------------- */
/* --------- All pages ------------- */
/* --------------------------------- */

body {
  background: #e8e8e8;
}

a, a:visited, a:hover, a:active {
  text-decoration: none !important;
  color: inherit !important;
}

.component-container {
  margin-top: 81px;
  width: 66%;
  display: inline-block;
  z-index: 1;
}

.pagetitle {
  text-align: center;
  margin: 30px 0;
}

.pagetitle {
  font-size: 38px;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  width: 250px;
  transform: skew(0, -5deg);
  text-shadow: 0 0 3px #FF0000;
  margin-left: auto;
  margin-right: auto;
}

/* --------------------------------- */
/* ------- end of all pages -------- */
/* --------------------------------- */

/* --------------------------------- */
/* ------------ Navbar ------------- */
/* --------------------------------- */

.navbar {
  height: 61px;
  width: 100%;
  background: #fff;
  position: fixed;
  z-index: 3;
}

.leaflet-container {
    height: 400px;
    width: 75%;
    margin: 0 auto;
    z-index: 1;
}

.iconcontainer {
  position: absolute;
  margin-left: 13px;
  padding-top: 4px;
  height: 100%;
  width: 35px;
  display: none;
}

.iconcontainer:hover, .icon:hover {
  cursor: pointer;
}

.icon {
    width: 100%;
    height: 6px;
    background-color: black;
    margin: 8px 0;
}

.navtitle {
  text-align: center;
  width: 100%;
  float: left;
  /*margin-top: 6px;*/
  line-height: 61px;
  font-size: 24px;
  font-weight: bold;
}

.menu {
  /*margin-top: -20px;*/
  margin-top: 61px;
  width: 100%;
  position: absolute;
  z-index: 2;
  display: none;
}

#link1 {
  border-top: 2px solid black;
}

.option {
  width: 180px;
  height: 40px;
  background: #dee2e8;
  background: #fff;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  padding: 3px 0 0 10px;
  font-size: 20px;
  color: black;
  text-decoration: none !important;
}

.option {
  font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.6px;
  white-space: nowrap;
  line-height: 50px;
}

.option:hover {
  cursor: pointer;
  text-decoration: none !important;
  background: #E0E0E0;
  color: gray;
}

.menu div {
  background: gray;
  color: #e8e8e8;
}

/* --------------------------------- */
/* --------- end of Navbar --------- */
/* --------------------------------- */

/* --------------------------------- */
/* ----------- Sidebar ------------- */
/* --------------------------------- */

/* Animated sidebar */
.sidebar-container {
  float: left;
  width: 17%;
  margin-top: 111px;
}

.sidebar-nav-menu {
  z-index: 2;
}

.sidebar-nav-menu li {
  list-style-type: none;
  color: black;
  height: 50px;
  width: 50px;
  margin-bottom: 5px;
}

.sidebar-nav-menu span {
  position: absolute;
  left: 50px;
  width: 0;
  /*padding: 0 20px;
  width: auto;*/
  overflow: hidden;
  z-index: 2;
  font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.6px;
  white-space: nowrap;
  line-height: 50px;
  opacity: 0.8;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
}

.sidebar-nav-menu a {
  position: relative;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.sidebar-home-color {
  background: #7da315;
}

.sidebar-profile-color {
  background: #1e8bb4;
}

.sidebar-leaderboard-color {
  background: #c86c1f;
}

.sidebar-challenges-color {
  background: #d0a525;
}

.sidebar-logout-color {
  background: #af1e83;
}

.sidebar-home {
  background: url('http://cdn.mysitemyway.com/icons-watermarks/simple-dark-gray/foundation/foundation_home/foundation_home_simple-dark-gray_512x512.png');
}

.sidebar-profile {
  background: url('https://cdn3.iconfinder.com/data/icons/faticons/32/user-01-128.png');
}

.sidebar-leaderboard {
  background: url('https://images.vexels.com/media/users/3/129811/isolated/preview/7d98621bbdeb2746a26abe146a56c9d3-classic-trophy-silhouette-by-vexels.png');
}

.sidebar-challenges {
  background: url('http://hgcamp.com/wp-content/uploads/2016/12/cropped-mountain-icon-512x512.png');
}

.sidebar-logout {
  background: url('https://cdn0.iconfinder.com/data/icons/glyph-2-ui-part-1-of-4/100/pack02-05-512.png');
}

.sidebar-home span {
  background: #7da315;
  color: #3d4f0c;
  text-shadow: 1px 1px 0 #99bf31;
}

.sidebar-profile span {
  background: #1e8bb4;
  color: #223a44;
  text-shadow: 1px 1px 0 #44a8d0;
}

.sidebar-leaderboard span {
  background: #c86c1f;
  color: #5a3517;
  text-shadow: 1px 1px 0 #d28344;
}

.sidebar-challenges span {
  background: #d0a525;
  color: #604e18;
  text-shadow: 1px 1px 0 #d8b54b;
}

.sidebar-logout span {
  background: #af1e83;
  color: #460f35;
  text-shadow: 1px 1px 0 #d244a6;
}

/* Comment out these next two styles to get colored sidebar */
/*.sidebar-container li {
  background: #e8e8e8;
}

.sidebar-container span {
  background: #e8e8e8;
  color: black;
}*/

.sidebar-nav-menu a:hover {
  box-shadow:0 0 5px #9ddff5;
  -webkit-box-shadow:0 0 5px #9ddff5;
  -moz-box-shadow:0 0 5px #9ddff5;
}

.sidebar-nav-menu a:hover span {
  overflow: visible;
  width: auto;
  padding: 0 20px;
}

/* --------------------------------- */
/* -------- end of Sidebar --------- */
/* --------------------------------- */

/* --------------------------------- */
/* ----------- Weather  ------------ */
/* --------------------------------- */

.weather-container {
  z-index: 2;
  width: 17%;
  margin-top: 111px;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  padding-right: 40px;
}

/* --------------------------------- */
/* -------- end of Weather --------- */
/* --------------------------------- */

/* --------------------------------- */
/* ------------- Feed -------------- */
/* --------------------------------- */

.feed {
  margin-top: 20px;
}

.feeditem {
  margin: auto;
  text-align: center;
  border-bottom: 1px solid black;
  width: 75%;
}

/* --------------------------------- */
/* ---------- end of Feed ---------- */
/* --------------------------------- */

/* --------------------------------- */
/* ----------- Profile ------------- */
/* --------------------------------- */

.profImage {
 border-radius: 100%;
 border: 3px solid black;
 height: 200px;
 width: 200px;
 display: block;
 margin: 0 auto;
}

/* --------------------------------- */
/* -------- end of Profile --------- */
/* --------------------------------- */

/* --------------------------------- */
/* ---------- Leaderboard ---------- */
/* --------------------------------- */

.leaders {
  font-size: 24px;
  border-top: 1px solid black;
  width: 45%;
  min-width: 300px;
  margin: auto;
  overflow: ;
}
.user, .achievement {
  font-weight: bold;
  cursor: pointer;
}

.leaders .score {
  float: right;
}

.score {
  color: red;
}


.profImage {
 border-radius: 100%;
 border: 3px solid black;
 height: 200px;
 width: 200px;
 display: block;
 margin: 0 auto;
}

a, a:visited, a:hover, a:active {
  text-decoration: none !important;
  color: inherit !important;
}

.front {
  width: 100%;
  height: 140px;
  -webkit-transform: perspective(600px) rotateY(0deg);
  transform: perspective(600px) rotateY(0deg);
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  transition: -webkit-transform .5s linear 0s;
  transition: transform .5s linear 0s;
}

.front img {
  width: 100%;
  height: 132px;
}

.back {
  position: absolute;
  width: 100%;
  height: 132px;
  background: silver;
   -webkit-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(180deg);
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  transition: -webkit-transform .5s linear 0s;
  transition: transform .5s linear 0s;
}

/*==========================

        Media Queries

===========================*/


/* --------------------------------- */
/* ------- end of Challenges ------- */
/* --------------------------------- */

@media only screen and (max-width:850px) {
  .weather-container {
    width: 10%;
    position: fixed;
    top: 0;
    right: 10%;
    margin: 0;
    padding: 0;
    z-index: 4;
  }

  .component-container {
    width: 100%;
  }

  .challengebox h3 {
    font-size: 20px;
  }

  .iconcontainer {
    display: block;
  }

  .sidebar-container {
    display: none;
  }

  .menu {
    display: block;
  }
}

@media only screen and (max-width:650px) {
  .challenges-footer {
    position: fixed;
    bottom: 10px;
    left: 50%;
    margin-left: -165px;
  }

  .challenges-footer li {
    font-size: 18px;
    width: 100px;
    padding: 30px 0;
  }
}


@media only screen and (max-width:600px) {
  .menu {
    width: 100%;
  }

  .option {
    width: 100%;
    text-align: center;
    border-right: 0;
  }

  .leaders {
    width: 85%;
  }

  .challengescontainer {
    width: 85%;
  }

  .challengebox {
    width: 40%;
  }
}

@media only screen and (max-width:500px) {
  .challengescontainer {
    width: 100%;
  }

  .challengebox {
    width: 80%;
    margin-bottom: 10px;
  }
}
